 <div class="card component-card_9">
            <img src="assets/img/400x300.jpg" class="card-img-top" alt="widget-card-2">
            <div class="card-body">
                <p class="meta-date">25 Sep 2019</p>

                <h5 class="card-title">How to Start a Blog in 5 Easy Steps.</h5>
                <p class="card-text">Vestibulum vestibulum tortor ut eros tincidunt, ut rutrum elit volutpat.</p>

                <div class="meta-info">
                    <div class="meta-user">
                        <div class="avatar avatar-sm">
                            <span class="avatar-title rounded-circle">AG</span>
                        </div>
                        <div class="user-name">Luke Ivory</div>
                    </div>

                    <div class="meta-action">
                        <div class="meta-likes">
                            <svg> ... </svg> 51
                        </div>

                        <div class="meta-view">
                            <svg> ... </svg> 250
                        </div>
                    </div>

                </div>

            </div>
        </div>
