<!DOCTYPE html>
<html lang="en">



<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Ironlibrary</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-author">
      <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
      <a class="nav-link" href="/login">Login</a>



      <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"></a>
    </div>
  </div>
</nav>



<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="thumbnail">
      <a href="https://images.unsplash.com/photo-1550399105-c4db5fb85c18?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2551&q=80">
        <img src="https://images.unsplash.com/photo-1550399105-c4db5fb85c18?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2551&q=80" alt="Lights" style="width:100%">
        <div class="caption">
          <p class="p1">Books</p>
        </div>
      </a>
    </div>
    </div>
    <div class="col-sm">
      <div class="thumbnail">
      <a href="https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60">
        <img src="https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60" alt="Nature" style="width:100%">
        <div class="caption">
          <p class="p1">and Food</p>
        </div>
      </a>
    </div>
    </div>
    <div class="col-sm">
      <div class="thumbnail">
      <a href="https://images.unsplash.com/photo-1526721940322-10fb6e3ae94a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2551&q=80">
        <img src="https://images.unsplash.com/photo-1526721940322-10fb6e3ae94a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2551&q=80" alt="Fjords" style="width:100%">
        <div class="caption">
          <p class="p1">and even more books</p>
        </div>
      </a>
    </div>
    </div>
  </div>

<div class="row">
    <div class="col-sm">
      <div class="thumbnail">
      <a href="https://images.unsplash.com/photo-1505664194779-8beaceb93744?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80">
        <img src="https://images.unsplash.com/photo-1505664194779-8beaceb93744?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80" alt="Fjords" style="width:100%">
        <div class="caption">
          <p class="p1">more books</p>
        </div>
      </a>
    </div>
    </div>
    <div class="col-sm">
      <div class="thumbnail">
      <a href="https://images.unsplash.com/photo-1494390248081-4e521a5940db?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1895&q=80">
        <img src="https://images.unsplash.com/photo-1494390248081-4e521a5940db?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1895&q=80" alt="Nature" style="width:100%">
        <div class="caption">
          <p class="p1">and more Food</p>
        </div>
      </a>
    </div>
    </div>
    <div class="col-sm">
      <div class="thumbnail">
      <a href="https://images.unsplash.com/photo-1524995997946-a1c2e315a42f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80">
        <img src="https://images.unsplash.com/photo-1524995997946-a1c2e315a42f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80" alt="Fjords" style="width:100%">
        <div class="caption">
          <p class="p1">and loads of books</p>
        </div>
      </a>
    </div>
    </div>

    <div class="row">
    <div class="col-sm">
      <div class="thumbnail">
      <a href="https://images.unsplash.com/photo-1526243741027-444d633d7365?ixlib=rb-1.2.1&auto=format&fit=crop&w=2551&q=80">
        <img src="https://images.unsplash.com/photo-1526243741027-444d633d7365?ixlib=rb-1.2.1&auto=format&fit=crop&w=2551&q=80" alt="Lights" style="width:100%">
        <div class="caption">
          <p class="p1">Books</p>
        </div>
      </a>
    </div>
    </div>
    <div class="col-sm">
      <div class="thumbnail">
      <a href="https://images.unsplash.com/photo-1496412705862-e0088f16f791?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80">
        <img src="https://images.unsplash.com/photo-1496412705862-e0088f16f791?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80" alt="Lights" style="width:100%">
        <div class="caption">
          <p class="p1">and Food</p>
        </div>
      </a>
    </div>
    </div>
    <div class="col-sm">
      <div class="thumbnail">
      <a href="https://images.unsplash.com/photo-1497796742626-fe30f204ec54?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80">
        <img src="https://images.unsplash.com/photo-1497796742626-fe30f204ec54?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2550&q=80" alt="Fjords" style="width:100%">
        <div class="caption">
          <p class="p1">and a hell of a lot of books</p>
        </div>
      </a>
    </div>
    </div>
  </div>
  </div>

</div>



<br>


</head>
<body>

<footer>
<div >
  <nav>
  <ul class="text">
    <li><a href="index.html">HOME</a></li>
    <li><a href="contact.html">CONTACT</a></li>
    <li><a href="books.html">BOOKS</a></li>
    <li><a href="mybooks.html">MY BOOKS</a></li>
  </ul>
  </nav>
   </div>

</footer>
</body>

</html>










